{{!
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}

<main>
    <div class="row gy-1">
        <section class="col-2">
            <a class="text info" href="{{navigation.links.[0].href}}">{{navigation.links.[0].text}}</a>
        </section>
        <section class="col-2">
            <a class="text info" href="{{navigation.links.[1].href}}">{{navigation.links.[1].text}}</a>
        </section>
        <section class="col-2">
            <a class="text info" href="{{navigation.links.[2].href}}">{{navigation.links.[2].text}}</a>
        </section>
        <section class="col-2">
            <button class="btn btn-primary" href="{{navigation.button.href}}">{{navigation.button.text}}</button>
        </section>
        <hr>

        <section class="col-12">
            {{#with header}}
            <h1>{{title}}</h1>
            <p>{{description}}</p>
            <p>
                <button class="btn btn-primary" href="{{button.link}}">{{button.text}}</button>
            </p>
            {{/with}}
        </section>
        <hr>

        <div class="row gy-3 gx-1">
            {{#with city}}
            <h2>{{title}}</h2>
            <div class='col-5'>
                <div class="card">
                    <img class="card-img-top" src={{cards.[0].picture.src}} alt={{ards.[0].picture.alt}}>
                    <div class="card-body">
                        <h5 class="card-title">{{cards.[0].title}}</h5>
                        <p>{{cards.[0].description}}</p>
                        <br>
                        <br>
                        <button class="btn btn-primary"
                            href="{{cards.[0].button.href}}">{{cards.[0].button.text}}</button>
                    </div>
                </div>
            </div>

            <div class='col-5'>
                <div class="card">
                    <img class="card-img-top" src={{cards.[1].picture.src}} alt={{ards.[1].picture.alt}}>
                    <div class="card-body">
                        <h5 class="card-title">{{cards.[1].title}}</h5>
                        <p>{{cards.[1].description}}</p>
                        <button class="btn btn-primary"
                            href="{{cards.[1].button.href}}">{{cards.[1].button.text}}</button>
                    </div>
                </div>
            </div>

            <div class='col-5'>
                <div class="card">
                    <img class="card-img-top" src={{cards.[2].picture.src}} alt={{ards.[2].picture.alt}}>
                    <div class="card-body">
                        <h5 class="card-title">{{cards.[2].title}}</h5>
                        <p>{{cards.[2].description}}</p>
                        <button class="btn btn-primary"
                            href="{{cards.[2].button.href}}">{{cards.[2].button.text}}</button>
                    </div>
                </div>
            </div>

            <div class='col-5'>
                <div class="card">
                    <img class="card-img-top" src={{cards.[3].picture.src}} alt={{ards.[3].picture.alt}}>
                    <div class="card-body">
                        <h5 class="card-title">{{cards.[3].title}}</h5>
                        <p>{{cards.[3].description}}</p>
                        <button class="btn btn-primary"
                            href="{{cards.[3].button.href}}">{{cards.[3].button.text}}</button>
                    </div>
                </div>
            </div>
            {{/with}}
            <hr>
        </div>

        <section class="col-12">
            <h2>{{winner.title}}</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Surname
                        </th>
                        <th>
                            Nickname
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <th>1</th>
                        <td>Ada</td>
                        <td>Lovelace</td>
                        <td>The Enchantress of Numbers</td>
                    </tr>
                    <tr>
                        <th>2</th>
                        <td>Grace</td>
                        <td>Hopper</td>
                        <td>Amazing Grace</td>
                    </tr>
                    <tr>
                        <th>3</th>
                        <td>Katherine</td>
                        <td>Johnson</td>
                        <td>The Human Computer</td>
                    </tr>
                </tbody>
            </table>

        </section>
        <hr>

        <section class="col-12">
            <h2>{{gallery.title}}</h2>
            <div class="col-4">
                <div class="card">

                </div>
            </div>

        </section>


        {{!-- <section class="col-3">
            <div class="card text-bg-warning">
                <div class="card-header">
                    <div>Menu</div>
                </div>

                <ul class="list-group">
                    <li class="list-group-item text-bg-danger">
                        <a href="#" class="btn btn-link">Home page</a>
                    </li>
                    <li class="list-group-item text-bg-success">
                        <a href="#" class="btn btn-link">Summary page</a>
                    </li>
                    <li class="list-group-item text-bg-secondary">
                        <a href="#" class="btn btn-link">Skills page</a>
                    </li>
                </ul>

                <div class="card-footer">
                    <button class="btn btn-dark btn-sm">Update list</button>
                </div>
            </div>
        </section>

        <section class="col-9">
            <table class="table table-striped table-bordered"> {{!-- таблиця/смугаста/у рамці --}}
                <thead>
                    <tr>
                        <th>
                            #id
                        </th>
                        <th>
                            name
                        </th>
                        <th>
                            age
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <th>1</th>
                        <td>Jhon</td>
                        <td>35</td>
                    </tr>
                    <tr>
                        <th>2</th>
                        <td>Smith</td>
                        <td>29</td>
                    </tr>
                    <tr>
                        <th>3</th>
                        <td>peter</td>
                        <td>28</td>
                    </tr>
                </tbody>
            </table>
        </section>

        <section lass="col-12">
            <div class="row gy-3 gx-1">
                <div class='col-4'>
                    <div class="card text-bg-success text-center">
                        <div class="card-header">Header</div>
                        <div class="card-body">
                            <h6 class="card-title">This is title</h6>
                            <p>This is content of our box</p>
                            <button class="btn btn-light">Click</button>
                        </div>
                        <div class="card-footer">Footer</div>
                    </div>
                </div>
                <div class='col-4'>
                    <div class="card text-bg-success text-center">
                        <div class="card-header">Header</div>
                        <div class="card-body">
                            <h6 class="card-title">This is title</h6>
                            <p>This is content of our box</p>
                            <button class="btn btn-light">Click</button>
                        </div>
                        <div class="card-footer">Footer</div>
                    </div>
                </div>
                <div class='col-4'>
                    <div class="card text-bg-success text-center">
                        <div class="card-header">Header</div>
                        <div class="card-body">
                            <h6 class="card-title">This is title</h6>
                            <p>This is content of our box</p>
                            <button class="btn btn-light">Click</button>
                        </div>
                        <div class="card-footer">Footer</div>
                    </div>
                </div>
                <div class='col-4'>
                    <div class="card text-bg-success text-center">
                        <div class="card-header">Header</div>
                        <div class="card-body">
                            <h6 class="card-title">This is title</h6>
                            <p>This is content of our box</p>
                            <button class="btn btn-light">Click</button>
                        </div>
                        <div class="card-footer">Footer</div>
                    </div>
                </div>
                <div class='col-4'>
                    <div class="card text-bg-success text-center">
                        <div class="card-header">Header</div>
                        <div class="card-body">
                            <h6 class="card-title">This is title</h6>
                            <p>This is content of our box</p>
                            <button class="btn btn-light">Click</button>
                        </div>
                        <div class="card-footer">Footer</div>
                    </div>
                </div>
                <div class='col-4'>
                    <div class="card text-bg-success text-center">
                        <div class="card-header">Header</div>
                        <div class="card-body">
                            <h6 class="card-title">This is title</h6>
                            <p>This is content of our box</p>
                            <button class="btn btn-light">Click</button>
                        </div>
                        <div class="card-footer">Footer</div>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <ul class="list-group">
        <li class="list-group-item">
            <ul>
                <li class="list-group-item">Item 1.1</li>
                <li class="list-group-item">Item 1.2</li>
            </ul>
        </li>
        <li class="list-group-item">Item 2</li>
        <li class="list-group-item">Item 3</li>
    </ul>

    <h5>Menu</h5>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="#" class="btn btn-link">Home page</a>
        </li>
        <li class="list-group-item">
            <a href="#" class="btn btn-link">Summary page</a>
        </li>
        <li class="list-group-item">
            <a href="#" class="btn btn-link">Skills page</a>
        </li>
    </ul> --}}

</main>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}