<div class="row">
	<div class="col-3 pt-3 pe-0">
		{{number}}
		<p><b>{{status}}</b></p>
	</div>
	<div class="col-1 me-0 pt-3 pe-0">
		{{#with amount}}
		{{title}}
		<p><b>{{value}}</b></p>
		{{/with}}
	</div>
	<div class="col-5 m-1 ps-1 pe-1">
		<ul>
			{{#each images}}
			<image src={{this}}></image>
			{{/each}}
		</ul>
	</div>
	<div class="col-2 m-1 pt-3 ps-5">
		{{#with button}}
		<a href={{link}} class="btn {{#if isPrimary}}
                btn-primary
                {{/if}} text-end">{{text}}</a>
		{{/with}}
	</div>
	<hr>
</div>